* {
  margin: 0;
  /* color: #333; */
}
p {
  font-size: 20px;
}
.App {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 15px;
  height: 600px;
}
.header {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
}
.time-body {
  margin: 0 auto;
  padding: 20px;
  margin-left: 50px;
}
.time-body h1 {
  color: #f1356d;
  font-weight: bolder;
  font-size: 70px;
  margin-bottom: 10px;
}
.time-body h3 {
  color: #f1356d;
  font-weight: bolder;
  font-size: 50px;
  border: 2px solid;
  border-radius: 10px;
  margin-right: 160px;
  text-align: center;
}
.about {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.fontAwe {
  display: flex;
}
.faTw,
.faIg,
.faGh,
.faGm {
  font-size: large;
  margin: 10px;
  color: #333;
}
.faGh:hover {
  font-size: x-large;
  transition: 0.2s;
}
.faIg:hover {
  color: red;
  font-size: x-large;
  transition: 0.2s;
}
.faTw:hover {
  color: #1da1f2;
  font-size: x-large;
  transition: 0.2s;
}
.faGm:hover {
    color: rgb(0, 0, 0);
  font-size: x-large;
  transition: 0.2s;
}
